.NavigationItems {
    display: flex;
    align-items: center;
}

.Toggles {
    display: flex;
}

@media all and (max-width: 590px){

    .NavigationItems {
        flex-flow: column;
        align-items: flex-start;
        padding: 20px;
    }

    .Toggles {
        flex-flow: column;
        order: 3;
        padding: 10px;
    }

    .Hidden {
        display: none;
    }
}